{% extends 'base/main.html' %}

{% block content %}

<div class="header-bar">
    <a href={% url 'tasks' %}>&#8592; Go Back</a>
</div>

<div class="card-body" style="padding-left: 10px;">
    <form method="POST" style="display: flex; justify-content: flex-start;">
        {% csrf_token %}
        <p style="margin-left: 20px;">Are you sure you want to delete the task "{{ task }}"?</p>
        <input class="button" type="submit" value="Delete" style="margin-left: 20px; margin-top: 10px; height: 30px; padding-top: 5px; padding-bottom: 5px;" />
    </form>
</div>


{% endblock content %}
